include ../box/collection

section.section-home-collection(data-aos="fade-down") 
    .container
        h2.title کالکشن ها
        .owl-carousel.owl-theme.collection-carousel
            .item 
                +collectionBox("assets/img/stone1.jpg","کوارتز","#")
            .item 
                +collectionBox("assets/img/stone2.jpg","معدن","#")
            .item 
                +collectionBox("assets/img/stone3.jpg","سنگ","#")