section.section-home-service(data-aos="fade-down")
    .container 
        h2.title خدمات
        .row
            .col-md-4.text-center.p-5
                a.link(href="") 
                    span.icon.icon-user-large
                    p راهکار ها
            .col-md-4.text-center.p-5
                a.link(href="") 
                    span.icon.icon-line-columns
                    p مجله ها
            .col-md-4.text-center.p-5
                a.link(href="") 
                    span.icon.icon-phone
                    p پشتیبانی