section.section-home-slider 
    .owl-carousel.owl-theme.home-carousel
        .item
            img.img(src="assets/img/stone1.jpg", alt="stone1")
            .info 
                .title لورم ایپسوم
                .subtitle لورم ایپسوم
                a.btn-outline-custom(href="#") بیشتر بخوانید  
        .item 
            img.img(src="assets/img/stone2.jpg", alt="stone2") 
            .info 
                .title لورم ایپسوم
                .subtitle لورم ایپسوم
                a.btn-outline-custom(href="#") بیشتر بخوانید  
        .item 
            img.img(src="assets/img/stone3.jpg", alt="stone3")
            .info 
                .title لورم ایپسوم
                .subtitle لورم ایپسوم
                a.btn-outline-custom(href="#") بیشتر بخوانید   
        .item 
            img.img(src="assets/img/stone4.jpg", alt="stone4")
            .info 
                .title لورم ایپسوم
                .subtitle لورم ایپسوم
                a.btn-outline-custom(href="#") بیشتر بخوانید   