include ../box/service

section.section-home-service(data-aos="fade-down")
    .container 
        h2.title خدمات
        .row
            .col-md-4.text-center.p-5
                +serviceBox('icon-circle-check',"درباره شرکت","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است","#")
            .col-md-4.text-center.p-5
                +serviceBox('icon-newspaper',"مجله ها","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است","#")
            .col-md-4.text-center.p-5
                +serviceBox('icon-phone',"پشتیبانی","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است","#")