include ../box/product

section.section-home-product
    .container
        h2.title جدیدترین محصولات
        .row 
            .col-lg-6.col-xl-4
                +productBox("assets/img/prod1.jpg","کاشی پرسلان آ مالفی","توتم کوارتز","#")
            .col-lg-6.col-xl-4
                +productBox("assets/img/prod2.jpg","کاشی پرسلان هوگارت","توتم کوارتز","#")
            .col-lg-6.col-xl-4
                +productBox("assets/img/prod3.jpg","کاشی پرسلان آرمانی","توتم کوارتز","#")
            .col-lg-6.col-xl-4
                +productBox("assets/img/prod4.jpg","کاشی دیواری طرح آلانیا","توتم کوارتز","#")
            .col-lg-6.col-xl-4
                +productBox("assets/img/prod5.jpg","کاشی دیواری طرح آشور","توتم کوارتز","#")
            .col-lg-6.col-xl-4
                +productBox("assets/img/prod6.jpg","کاشی دیواری طرح آیکا","توتم کوارتز","#")