section.section-home-gallery(data-aos="fade-down") 
    .container
        .title-section.d-flex.justify-content-between.align-items-center
            h2.title گالری تصاویر
            .more.my-4 
                a.btn(href="#") مشاهده همه
        ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item(role='presentation')
                button#all-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#all' type='button' role='tab' aria-controls='all' aria-selected='true') همه
            li.nav-item(role='presentation')
                button#bathroom-tab.nav-link(data-bs-toggle='tab' data-bs-target='#bathroom' type='button' role='tab' aria-controls='bathroom' aria-selected='false') سرویس بهداشتی
            li.nav-item(role='presentation')
                button#kitchen-tab.nav-link(data-bs-toggle='tab' data-bs-target='#kitchen' type='button' role='tab' aria-controls='kitchen' aria-selected='false') آشپزخانه
        #myTabContent.tab-content
            #all.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='all-tab')
                .row 
                    .col-lg-6
                        a(href="assets/img/prod1.jpg" data-fancybox="all") 
                            figure.gallery-img 
                                img.img(src="assets/img/prod1.jpg" alt="prod1")
                                .mask
                                    span سینسیا کاپیلار
                    .col-lg-6
                        .row
                            .col-6 
                                a(href="assets/img/prod2.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod2.jpg" alt="prod1")
                                        .mask
                                            span کاسا دکور اریکو
                            .col-6 
                                a(href="assets/img/prod3.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod3.jpg" alt="prod1")
                                        .mask
                                            span رزیدنس
                            .col-6 
                                a(href="assets/img/prod4.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod4.jpg" alt="prod1")
                                        .mask
                                            span ادج وود
                            .col-6
                                a(href="assets/img/prod5.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod5.jpg" alt="prod1") 
                                        .mask
                                            span بیچ
                    .col-lg-6 
                        .row
                            .col-6 
                                a(href="assets/img/collec1.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/stone1.jpg" alt="prod1")
                                        .mask
                                            span ادج وود
                            .col-6 
                                a(href="assets/img/collec2.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec2.jpg" alt="prod1")
                                        .mask
                                            span کاسا دکور اریکو
                            .col-6 
                                a(href="assets/img/collec3.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/stone3.jpg" alt="prod1")
                                        .mask
                                            span بیچ
                            .col-6 
                                a(href="assets/img/collec2.jpg" data-fancybox="all") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec2.jpg" alt="prod1")
                                        .mask
                                            span اوربن کراش
                    .col-lg-6
                        a(href="assets/img/collec1.jpg" data-fancybox="all") 
                            figure.gallery-img 
                                img.img(src="assets/img/collec1.jpg" alt="prod1")
                                .mask
                                    span پیترا
            #bathroom.tab-pane.fade(role='tabpanel' aria-labelledby='bathroom-tab')
                .row 
                    .col-lg-6
                        a(href="assets/img/prod1.jpg" data-fancybox="bathroom") 
                            figure.gallery-img 
                                img.img(src="assets/img/prod1.jpg" alt="prod1")
                                .mask
                                    span سینسیا کاپیلار
                    .col-lg-6
                        .row
                            .col-6 
                                a(href="assets/img/prod2.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod2.jpg" alt="prod1")
                                        .mask
                                            span کاسا دکور اریکو
                            .col-6 
                                a(href="assets/img/prod3.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod3.jpg" alt="prod1")
                                        .mask
                                            span رزیدنس
                            .col-6 
                                a(href="assets/img/prod4.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod4.jpg" alt="prod1")
                                        .mask
                                            span ادج وود
                            .col-6
                                a(href="assets/img/prod5.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod5.jpg" alt="prod1") 
                                        .mask
                                            span بیچ
                    .col-lg-6 
                        .row
                            .col-6 
                                a(href="assets/img/collec1.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec1.jpg" alt="prod1")
                                        .mask
                                            span ادج وود
                            .col-6 
                                a(href="assets/img/collec2.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec2.jpg" alt="prod1")
                                        .mask
                                            span کاسا دکور اریکو
                            .col-6 
                                a(href="assets/img/collec3.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec3.jpg" alt="prod1")
                                        .mask
                                            span بیچ
                            .col-6 
                                a(href="assets/img/collec2.jpg" data-fancybox="bathroom") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec2.jpg" alt="prod1")
                                        .mask
                                            span اوربن کراش
                    .col-lg-6
                        a(href="assets/img/collec1.jpg" data-fancybox="bathroom") 
                            figure.gallery-img 
                                img.img(src="assets/img/collec1.jpg" alt="prod1")
                                .mask
                                    span پیترا
            #kitchen.tab-pane.fade(role='tabpanel' aria-labelledby='kitchen-tab')
                .row 
                    .col-lg-6
                        a(href="assets/img/prod1.jpg" data-fancybox="kitchen") 
                            figure.gallery-img 
                                img.img(src="assets/img/prod1.jpg" alt="prod1")
                                .mask
                                    span سینسیا کاپیلار
                    .col-lg-6
                        .row
                            .col-6 
                                a(href="assets/img/prod2.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod2.jpg" alt="prod1")
                                        .mask
                                            span کاسا دکور اریکو
                            .col-6 
                                a(href="assets/img/prod3.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod3.jpg" alt="prod1")
                                        .mask
                                            span رزیدنس
                            .col-6 
                                a(href="assets/img/prod4.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod4.jpg" alt="prod1")
                                        .mask
                                            span ادج وود
                            .col-6
                                a(href="assets/img/prod5.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/prod5.jpg" alt="prod1") 
                                        .mask
                                            span بیچ
                    .col-lg-6 
                        .row
                            .col-6 
                                a(href="assets/img/collec1.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec1.jpg" alt="prod1")
                                        .mask
                                            span ادج وود
                            .col-6 
                                a(href="assets/img/collec2.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec2.jpg" alt="prod1")
                                        .mask
                                            span کاسا دکور اریکو
                            .col-6 
                                a(href="assets/img/collec3.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec3.jpg" alt="prod1")
                                        .mask
                                            span بیچ
                            .col-6 
                                a(href="assets/img/collec2.jpg" data-fancybox="kitchen") 
                                    figure.gallery-img 
                                        img.img__small(src="assets/img/collec2.jpg" alt="prod1")
                                        .mask
                                            span اوربن کراش
                    .col-lg-6
                        a(href="assets/img/collec1.jpg" data-fancybox="kitchen") 
                            figure.gallery-img 
                                img.img(src="assets/img/collec1.jpg" alt="prod1")
                                .mask
                                    span پیترا