include ../box/collection

section.section-home-collection
    .container
        h2.title کالکشن ها
        .owl-carousel.owl-theme.collection-carousel
            .item 
                +collectionBox("assets/img/collec1.jpg","کوارتز","#")
            .item 
                +collectionBox("assets/img/collec2.jpg","معدن","#")
            .item 
                +collectionBox("assets/img/collec3.jpg","سنگ","#")