section.section-home-slider(data-aos="fade-down")
    .owl-carousel.owl-theme.home-carousel
        .item
            img.img(src="assets/img/prod1.jpg", alt="prod1")
            .info 
                .title تولیدکننده سنگ های مهندسی
                .subtitle برپایه کوآرتز در سایز اسلب
                a.btn-outline-custom(href="#") بیشتر بخوانید  
        .item 
            img.img(src="assets/img/prod2.jpg", alt="prod2") 
            .info 
                .title تولیدکننده انواع کاشی
                .subtitle شرکت فلات سنگ آسیا
                a.btn-outline-custom(href="#") بیشتر بخوانید  
        .item 
            img.img(src="assets/img/prod3.jpg", alt="prod3")
            .info 
                .title توتم کوارتز
                .subtitle تولید انواع سنگ
                a.btn-outline-custom(href="#") بیشتر بخوانید     