.section-home-service {
  padding: 50px;
  background-color: #f7f7f7;
  .title {
    position: relative;
    @include fontSize(22, 700, 22);
    text-align: start;
    margin-bottom: 48px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      width: 30px;
      height: 3px;
      border-radius: 12px;
      background-color: $main;
    }
    @include media-breakpoint-down(lg) {
      text-align: center;
      &::before {
        content: "";
        right: 38%;
      }
    }
    @include media-breakpoint-down(md) {
      text-align: center;
      &::before {
        content: "";
        right: 28%;
      }
    }
  }
  .link {
    display: inline-block;
    .icon {
      font-size: 36px;
      padding: 36px;
      border: 1px solid $secondary-10;
      color: $main;
      @extend .tr-300;
    }
    &:hover {
      .icon {
        background-color: $secondary-10;
        border: 1px solid $secondary-10;
        color: #fff;
        @extend .tr-300;
      }
      p {
        color: $secondary-10;
        @extend .tr-300;
      }
    }
    p {
        margin-top: 48px;
        @include fontSize (16, 400, 16);
        @extend .tr-300;
    }
  }
}