.section-home-service {
  padding: 50px;
  background-color: #f7f7f7;
  .title {
    position: relative;
    @include fontSize(20, 900, 20);
    text-align: start;
    margin-bottom: 48px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      width: 30px;
      height: 3px;
      border-radius: 12px;
      background-color: $main;
    }
    @include media-breakpoint-down(lg) {
      text-align: center;
      &::before {
        content: "";
        right: 38%;
      }
    }
    @include media-breakpoint-down(md) {
      text-align: center;
      &::before {
        content: "";
        right: 28%;
      }
    }
  }
}