nav.main-navbar
    .navbar-overlay
    ul.main-nav.nav
        li.main-nav__item
            a.main-nav__link.logo(href="index.html")
                img(src='assets/img/logo.jpg' alt="logo")
        li.main-nav__item
            a.main-nav__link.active(href="#")
                span دانلود ها
        li.main-nav__item
            a.main-nav__link(href='#')
                span مطالب
            .sub-nav-wrapper
                ul.sub-nav.nav
                    li
                        a.sub-nav__link(href='#')
                            span ماهنامه
                    li
                        a.sub-nav__link(href='#')
                            span دعوت به همکاری
                    li
                        a.sub-nav__link(href='#')
                            span اطلاع رسانی
                    li
                        a.sub-nav__link(href='#')
                            span مقالات
        li.main-nav__item
            a.main-nav__link(href='#')
                i.icon-calendar.main-nav__link__icon
                span درباره ما
            .sub-nav-wrapper
                ul.sub-nav.nav
                    li
                        a.sub-nav__link(href='#')
                            span هیئت مدیره
                    li
                        a.sub-nav__link(href='#')
                            span ارزش ها
                    li
                        a.sub-nav__link(href='#')
                            span درباره ما
        li.main-nav__item
            a.main-nav__link(href='#')
                i.icon-calendar.main-nav__link__icon
                span تماس ما
            .sub-nav-wrapper
                ul.sub-nav.nav
                    li
                        a.sub-nav__link(href='#')
                            span تماس با ما 
                    li
                        a.sub-nav__link(href='#')
                            span دعوت به همکاری