footer.section-footer(data-aos="fade-up")
    .container 
        .row
            .col-lg-4
                h6.menu-title درباره توتم کوارتز
                p.about-desc شرکت فلات سنگ آسیا، اولین و بزرگترین تولید کننده سنگ مهندسی بر پایه کوارتز در ایران با نام تجاری Totem Quartz است که در سال 1383 در شهرک صنعتی مورچه خورت شهرستان اصفهان، با بهره گیری از تکنولوژی روز دنیا و ظرفیت تولید سالانه 700.000 متر مربع تاسیس شد. این شرکت با تلفیق هنر و صنعت، طیف گسترده ای از محصولات با طرح و رنگهای متنوع و در اندازه های اسلب وتایل، به بازارهای جهانی عرضه می نماید.
            .col-lg-2
                h6.menu-title خدمات 
                ul
                    li.menu-item
                        a.menu-link(href="#") راهکار ها
                    li.menu-item
                        a.menu-link(href="#") مجله ها
                    li.menu-item
                        a.menu-link(href="#") پشتیبانی
                    li.menu-item
                        a.menu-link(href="#") ویدیو ها
            .col-lg-6
                h6.menu-title ارتباط با ما
                .info 
                    span.icon.icon-dice-d4
                    span کارخانه: اصفهان. شهرک صنعتی مورچه خورت. فاز۴. خیابان دکتر حسابی سوم. پلاک ۶۴۶ کدپستی: ۸۳۳۳۱۱۶۸۱۱
                .info 
                    span.icon.icon-dice-d4
                    span دفتر مرکزی: تهران ،خیابان شریعتی. بالاتر از ظفر. خیابان کودکان غزه پلاک ۴۴. طبقه ۴. واحد ۷، کد پستی ۱۹۴۸۶۵۴۴۹۶
                .info 
                    span.icon.icon-phone
                    span تلفن: ٧-٠٣١٤٥٦٤٣٣٣٦, 22872385, 22872391, 22872392
                .info.mt-4 
                    a.d-inline-block(href="#")
                        span.icon.icon-telegram 
                    a.d-inline-block(href="#")
                        span.icon.icon-whatsapp
                    a.d-inline-block(href="#")
                        span.icon.icon-instagram
                    a.d-inline-block(href="#")
                        span.icon.icon-facebook
section.inc-info
    .container 
        .row
            .col-12
                .py-1
                    p کلیه حقوق این وب سایت متعلق به سایت توتم کوارتز می باشد
                    h6 طراحی و برنامه نویسی :
                        a(href="#") فناوری اطلاعات آیتیسا
