footer.section-footer(data-aos="fade-up")
    .container 
        .row
            .col-6.col-lg-3
                h6.menu-title برند ها
                ul
                    li.menu-item
                        a.menu-link(href="#") توتم کوارتز
                    li.menu-item
                        a.menu-link(href="#") میداس
                    li.menu-item
                        a.menu-link(href="#") ارسس
                    li.menu-item
                        a.menu-link(href="#") اسیان
            .col-6.col-lg-3
                h6.menu-title خدمات 
                ul
                    li.menu-item
                        a.menu-link(href="#") راهکار ها
                    li.menu-item
                        a.menu-link(href="#") مجله ها
                    li.menu-item
                        a.menu-link(href="#") پشتیبانی
                h6.menu-title شبکه فروش 
                ul
                    li.menu-item
                        a.menu-link(href="#") داخلی
                    li.menu-item
                        a.menu-link(href="#") صادراتی
            .col-6.col-lg-3
                h6.menu-title لینک های مرتبط
                ul
                    li.menu-item
                        a.menu-link(href="#") کاتالوگ
                    li.menu-item
                        a.menu-link(href="#") سوالات متداول
                    li.menu-item
                        a.menu-link(href="#") مقالات
                    li.menu-item
                        a.menu-link(href="#") اندازه گیری
                    li.menu-item
                        a.menu-link(href="#") گزارشات مالی
            .col-6.col-lg-3 
                h6.menu-title آدرس
                address تهران، سیدخندان، خیابان ارسباران، نبش بن بست طاووس پلاک 19
                address قزوین، شهرک صنعتی البرز، خیابان ذکریای رازی
                h6.menu-title شماره تماس
                span دفتر مرکزی: 9-02122883447
                br
                span واحد مدیریت: 143-142
                br
                span فروش پارس: 117
                h6.menu-title ما را دنبال کنید
                ul
                    li.menu-item 
                        a.menu-link(href="#")  
                            span.icon.icon-instagram
section.inc-info
    .container 
        .row
            .col-12
                .py-1
                    p کلیه حقوق این وب سایت متعلق به سایت توتم کوارتز می باشد
                    h6 طراحی و برنامه نویسی :
                        a(href="#") فناوری اطلاعات آیتیسا
