header#main-header
    nav.navbar.navbar-expand-lg.fixed-top
        .container-fluid
            a.navbar-brand.order-lg-0(href='#') 
                img.img(src="assets/img/logo.jpg", alt="")
            button.navbar-toggler.order-lg-1(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #offcanvasNavbar.offcanvas.offcanvas-end.order-lg-1(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
                .offcanvas-header.justify-content-between
                    img.img(src="assets/img/logo.jpg", alt="")
                    span.icon.icon-circle-x(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                .offcanvas-body.align-items-center
                    ul.navbar-nav.justify-content-center.flex-grow-1.pe-3
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='#') صفحه اصلی
                        li.nav-item
                            a.nav-link(href='#') محصولات
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | اخبار
                                span.icon.icon-chevron-down
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='#') امروز
                                li
                                    a.dropdown-item(href='#') دیروز
                        li.nav-item.dropdown-full-size
                            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | برند ها
                                span.icon.icon-chevron-down
                            ul.dropdown-menu
                                .row 
                                    .col-lg-4.text-start
                                        h3.title کوارتز
                                        li
                                            a.dropdown-item(href='#') کوارتز
                                        li
                                            a.dropdown-item(href='#') معدن
                                        li
                                            a.dropdown-item(href='#') کوه
                                    .col-lg-4.text-start
                                        h3.title معدن
                                        li
                                            a.dropdown-item(href='#') کوارتز
                                        li
                                            a.dropdown-item(href='#') معدن
                                        li
                                            a.dropdown-item(href='#') کوه
                                        li
                                            a.dropdown-item(href='#') کوارتز
                                        li
                                            a.dropdown-item(href='#') معدن
                                        li
                                            a.dropdown-item(href='#') کوه
                                    .col-lg-4.text-start
                                        h3.title کوه
                                        li
                                            a.dropdown-item(href='#') کوارتز
                                        li
                                            a.dropdown-item(href='#') معدن
            form.search-form.d-none.d-lg-flex.mt-3.mt-lg-0.order-2(role='search')
                input.form-control.me-2(type='search' placeholder='جست و جو ...' aria-label='Search')
                button.btn.btn-outline-success.d-flex.align-items-center.justify-content-center(type='submit') 
                    span.icon.icon-magnifying-glass
                    
