extends ../layouts/layout

block content
    main
        include ../partials/home-slider

block script
    script.
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            items:1,
            rtl: true,
            animateOut: 'fadeOut',
            autoplaySpeed: 400,
        })
