extends ../layouts/layout

block content
    main
        include ../partials/home-slider
        include ../partials/home-collection
        include ../partials/home-product
        include ../partials/home-gallery

block script
    script.
        $('.home-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            items:1,
            rtl: true,
            animateOut: 'fadeOut',
            autoplaySpeed: 400,
        })
        $('.collection-carousel').owlCarousel({
            loop:false,
            margin:24,
            nav:false,
            items:1,
            rtl: true,
            autoplaySpeed: 400,
            autoWidth: true,
        })
