.main-navbar {
  width: 100%;
  .navbar-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 100;
    transition: all 0.3 ease;
  }
  &.active {
    right: 0;
    .main-nav {
      right: 0;
      height: 100%;
      flex-direction: column;
      overflow: auto;
      flex-wrap: nowrap;
      background-color: #fff;
    }
    .navbar-overlay {
      width: 100%;
    }
  }
  @include media-breakpoint-down(md) {
    .main-nav {
      width: 100%;
    }
  }
  @include media-breakpoint-down(lg) {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: all 0.3 ease;
    z-index: 999;
    .main-nav {
      position: relative;
      right: -100%;
      height: 100%;
      width: 70%;
      white-space: nowrap;
      flex-direction: column;
      transition: all 0.3 ease;
      transition-delay: 0.5s;
      padding-top: 50px;
      z-index: 101;

      .sub-nav-wrapper {
        position: relative;
        display: none;
        top: 0;
        right: 0;
        box-shadow: none;
        padding-right: 25px;

        &.wide-sm .sub-nav,
        &.wide-md .sub-nav,
        &.wide-lg .sub-nav {
          width: auto;
          flex-direction: column;
          li {
            min-width: 50%;
          }
        }
      }

      &__link {
        color: #333;
      }
      .sub-nav__link {
        color: #888;
      }
    }
  }
  .main-nav {
    .main-nav__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 32px;
      vertical-align: middle;
      cursor: pointer;
      .sub-nav-wrapper {
        position: absolute;
        top: 0;
        width: max-content;
        max-height: 0;
        opacity: 0;
        &.show {
          visibility: visible;
          opacity: 1;
          transform: all .3 ease;
        }

        .sub-nav-wrapper {
          top: 0;
          right: 100%;
        }

        &.wide-sm > .sub-nav {
          width: 576px;
          flex-direction: row;

          li {
            width: auto;
            min-width: 33.33%;
          }
        }
        &.wide-md > .sub-nav {
          width: 768px;
          flex-direction: row;

          li {
            width: auto;
            min-width: 25%;
          }
        }
        &.wide-lg {
          position: fixed;
          top: 70px;;
          > .sub-nav {
            width: 100%;
            flex-direction: row;

            li {
              width: auto;
              min-width: 20%;
            }
          }
        }
        .sub-nav.nav {
          display: flex;
          flex-direction: column;
          li {
            padding: 12px 24px;
            &:hover {
              a {
                color: #fff;
              }
              background-color: #07070740;
              @extend .tr-300;
            }
          }
        }
        @extend .tr-300;
      }
      .active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -20%;
          left: 50%;
          width: 50px;
          height: 2px;
          border-radius: 12px;
          background-color: $main;
          transform: translateX(-50%);
        }
      }
      &:hover {
        .sub-nav-wrapper {
          border: 1px solid #04040410;
          position: absolute;
          top: 100px;
          width: max-content;
          max-height: max-content;
          opacity: 1;
          @extend .tr-300;
        }
      }
    }
  }
}
