.service-box {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
    padding: 24px;
    background-color: #fff;
    .icon {
        color: $main;
        font-size: 32px;
    }
    .service-title {
        @include fontSize(18, 700, 18);
        margin: 16px 0;
    }
    .desc {
        text-align: justify;
        @include fontSize(14, 400, 24);
        color: #040404;
    }
    .link {
        text-align: end;
        a {
            @include fontSize(14, 700, 24);
            color: $main;
        }
    }
}