mixin collectionBox(src , title, link)
    .collection-box 
        figure
            a(href=link)  
                img.img(src=src, alt="")
                h3.title=title
                span.more بیشتر بخوانید
